/*
/*/
/kern/compile/
!/kern/
!/userland/
!/images/

/userland/*

!userland/testbin/

userland/testbin/*
!/userland/testbin/Makefile
!/userland/testbin/nosywrite/
!/userland/testbin/hugematmult1/
!/userland/testbin/hugematmult2/

!.gitignore
!OS161_Project_C1_Group8.pdf

!execute_tests.py