/*
/*/
/kern/compile/
!/kern/
!/userland/
!/images/

/userland/*

!userland/testbin/

userland/testbin/*
!/userland/testbin/Makefile
!/userland/testbin/nosywrite/
!/userland/testbin/hugematmult1/
!/userland/testbin/hugematmult2/

!.gitignore

!execute_tests.py